:where(*)
{
	box-sizing: border-box;
}

:root
{
	--bg: Canvas;
	--fg: CanvasText;

	--spacing-1x: 8px;
	--spacing-2x: 16px;
	--spacing-3x: 24px;
	--spacing-4x: 32px;

	--blur-radius: var( --spacing-4x );
}

body
{
	background-color: var( --bg );
	color: var( --fg );
	flex-direction: column;
	margin: 0;
}

footer
{
	background-color: hsla( from var(--fg) h s l / 0.1 );
	flex-direction: column;
	padding: var( --spacing-4x );
}

footer-ext-res-info
{
	white-space: break-spaces;

	&::before
	{
		content: attr( data-count );
	}

	&::after
	{
		opacity: 0.5;
		content: " external resources fetched";
	}
}

header
{
	background-color: hsla( from var(--fg) h s l / 0.1 );
	flex-direction: column;
	padding: var( --spacing-4x );
}

main
{
	background-color: hsla( from var(--fg) h s l / 0.1 );
	margin: var( --spacing-4x ) auto;
	overflow: hidden;
	padding: var( --spacing-4x );
	position: relative;
	width: max( 50%, 500px );

	&::before
	{
		backdrop-filter: blur( var( --blur-radius ) );
		background-image: var( --bg-url );
		content: "";
		inset: calc( var( --blur-radius ) * -1 );
		position: absolute;
		transform: translateZ(-1px) scale(2);
		transform-origin: 0 0;
		z-index: -1;
	}
}

markdown-renderer
{
	display: contents;

	pre
	{
		white-space: break-spaces;
	}
}
