@keyframes fade-out
{
	from
	{
		background-position-y: 25%;
		margin-block-end: -25%;
	}

	to
	{
		background-position-y: 0%;
		margin-block-end: 25%;
	}
}

:where(*)
{
	box-sizing: border-box;
}

:root
{
	--a25: 0.25;
	--a50: 0.5;

	--bg: Canvas;
	--bg-a25: hsla( from var( --bg ) h s l / var(--a25) );
	--bg-a50: hsla( from var( --bg ) h s l / var(--a50) );
	--fg: CanvasText;
	--fg-a10: hsla( from var(--fg) h s l / 0.1 );
	--fg-a50: hsla( from var(--fg) h s l / 0.5 );

	--font-family-normal: "Adwaita Sans", "Inter", serif;
	--font-family-monospace: "Adwaita Mono", monospace;
	--font-line-height: 140%;
	--font-size: 14px;

	--spacing-1x: 0.5rem;
	--spacing-2x: 1rem;
	--spacing-3x: 1.5rem;
	--spacing-4x: 2rem;

	--blur-radius: var( --spacing-4x );
	--content-spacing: var( --spacing-4x );
	--content-width: max( 50dvi, 500px );

	@media ( prefers-contrast )
	{
		--a25: 1;
		--a50: 1;
	}

	@media ( prefers-reduced-transparency )
	{
		--a50: 1;
	}
}

body
{
	background: var( --bg );
	color: var( --fg );
	display: flex;
	flex-direction: column;
	font: var(--font-size)/var(--font-line-height) var(--font-family-normal);
	margin: 0;
	min-block-size: 100dvb;
}

page-content
{
	--shadow-xy: 0 12px;
	--shadow-spread: var( --spacing-4x );

	background-color: var( --bg-a50 );
	box-shadow:
		var( --shadow-xy ) var( --shadow-spread ) var( --bg ),
		inset var( --shadow-xy ) var( --content-width ) var( --bg );
	display: block;
	flex-grow: 1;
	inline-size: var( --content-width );
	margin: calc( var( --spacing-2x ) + var( --shadow-spread ) ) auto;
	margin-trim: block;
	padding: var( --content-spacing );

	page-image:where( [data-name="chisato"], [data-name="takina"] ) ~ &
	{
		backdrop-filter: blur( var( --blur-radius ) );
	}
}

page-footer
{
	align-items: center;
	background-color: var( --bg );
	display: flex;
	padding: var( --spacing-2x ) var( --spacing-4x );
}

page-footer-button
{
	align-items: center;
	color: var( --fg );
	cursor: pointer;
	display: flex;
	gap: var( --spacing-1x );
	padding: var( --spacing-1x ) var( --spacing-2x );
	user-select: none;

	&:where( :hover ) {
		background-color: color-mix( in srgb, currentColor 10%, transparent );
	}

	&:where( :active ) {
		background-color: color-mix( in srgb, currentColor 25%, transparent );
	}
}

page-footer-button-group
{
	display: flex;
	flex-wrap: wrap;
}

page-footer-ext-res-info
{
	flex-grow: 1;
	white-space: break-spaces;

	&::before
	{
		content: attr( data-count );
	}

	&::after
	{
		color: var( --fg-a50 );
		content: " external resources fetched";
	}
}

page-header
{
	background-color: var( --bg );
	font-weight: bold;
	padding: var( --spacing-2x ) var( --spacing-4x );

	&:has( > :empty )
	{
		display: none;
	}
}

page-image
{
	--header-height: calc( var( --spacing-2x ) * 2 + 1rlh );

	background-image: var( --bg-url );
	box-shadow:
		inset var( --spacing-4x ) var( --header-height ) 50dvi var( --bg ),
		inset 100dvi var( --header-height ) var( --bg-a25 );
	inset: calc( var( --blur-radius ) * -1 );
	position: fixed;
	z-index: -1;

	&:not( [data-name="chisato"], [data-name="takina"] )
	{
		background-size: 100%;
		filter: blur( var( --blur-radius ) );
	}

	@media not ( prefers-reduced-motion )
	{
		animation: fade-out linear both;
		animation-timeline: scroll(root);
	}

	&::before
	{
		background-image: linear-gradient( transparent, var( --bg ) );
		content: "";
		inset: 0;
		position: absolute;
	}
}

page-markdown
{
	display: contents;

	page-content > &[file-name] + page-what
	{
		display: none;
	}

	code
	{
		background-color: var( --fg-a10 );
		font-family: var(--font-family-monospace);
	}

	pre
	{
		--content-spacing-x025: calc( var( --content-spacing ) / 4 );
		--content-spacing-x05: calc( var( --content-spacing ) / 2 );

		background-color: var( --fg-a10 );
		font-family: var(--font-family-monospace);
		margin-inline: calc( var( --content-spacing ) / -2 );
		padding: var( --content-spacing-x025 ) var( --content-spacing-x05 );
		position: relative;
		tab-size: 4;
		white-space: break-spaces;

		&::before
		{
			color: var( --fg-a50 );
			content: attr( data-lang );
			inset-block-start: calc( var( --content-spacing-x025 ) / -1 );
			inset-inline-end: var( --content-spacing-x05 );
			position: absolute;
			text-transform: uppercase;
		}
	}
}
