@keyframes dropdown
{
	0%
	{
		transform: translateY( calc( var( --spacing-1x ) * -1 ) );
		opacity: 0;
	}

	100%
	{
		transform: translateY( 0 );
		opacity: 1;
	}
}


@keyframes fade-out
{
	from
	{
		background-position-y: 25%;
		margin-block-end: -25%;
	}

	to
	{
		background-position-y: 0%;
		margin-block-end: 25%;
	}
}

:root
{
	--a25: 0.25;
	--a50: 0.5;

	--bg: Canvas;
	--bg-a25: hsla( from var( --bg ) h s l / var(--a25) );
	--bg-a50: hsla( from var( --bg ) h s l / var(--a50) );
	--fg: CanvasText;
	--fg-a10: hsla( from var(--fg) h s l / 0.1 );
	--fg-a50: hsla( from var(--fg) h s l / 0.5 );

	--font-family-normal: "Adwaita Sans", "Inter", serif;
	--font-family-monospace: "Adwaita Mono", monospace;
	--font-line-height: 1.4;
	--font-size: 14px;

	--spacing-1x: 0.5rem;
	--spacing-2x: 1rem;
	--spacing-3x: 1.5rem;
	--spacing-4x: 2rem;

	--content-margin-block: calc( var( --spacing-2x ) + var( --content-shadow-spread ) );
	--content-shadow-xy: 0 12px;
	--content-shadow-spread: var( --spacing-4x );
	--content-spacing: var( --spacing-4x );
	--content-spacing-x025: calc( var( --content-spacing ) / 4 );
	--content-spacing-x05: calc( var( --content-spacing ) / 2 );
	--content-width: max( 50dvi, 500px );

	--animation-time: 150ms;
	--blur-radius: var( --spacing-4x );
	--header-height: calc( var( --spacing-2x ) * 2 + 1rlh );

	@media ( prefers-contrast )
	{
		--a25: 1;
		--a50: 1;
	}

	@media ( prefers-reduced-motion )
	{
		--animation-time: 0ms;
	}

	@media ( prefers-reduced-transparency )
	{
		--a50: 1;
	}
}

body
{
	background: var( --bg );
	color: var( --fg );
}

page-content
{
	animation: dropdown var( --animation-time ) forwards;
	background-color: var( --bg-a50 );
	box-shadow:
		var( --content-shadow-xy ) var( --content-shadow-spread ) var( --bg ),
		inset var( --content-shadow-xy ) var( --content-width ) var( --bg );
	flex-grow: 1;
	margin: var( --content-margin-block ) auto;
	padding: var( --content-spacing );

	page-image:where( [data-name="chisato"], [data-name="takina"] ) ~ &
	{
		backdrop-filter: blur( var( --blur-radius ) );
	}
}

page-footer
{
	align-items: center;
	background-color: var( --bg );
	display: flex;
	padding: var( --spacing-2x ) var( --spacing-4x );
}

page-footer-button
{
	align-items: center;
	color: var( --fg );
	cursor: pointer;
	display: flex;
	gap: var( --spacing-1x );
	padding: var( --spacing-1x ) var( --spacing-2x );
	user-select: none;

	&:where( :hover )
	{
		background-color: color-mix( in srgb, currentColor 10%, transparent );
	}

	&:where( :active )
	{
		background-color: color-mix( in srgb, currentColor 25%, transparent );
	}
}

page-footer-ext-res-info
{
	color: var( --fg-a50 );
	flex-grow: 1;

	&::before
	{
		content: attr( data-count );
	}
}

page-image
{
	box-shadow:
		inset var( --spacing-4x ) var( --header-height ) 50dvi var( --bg ),
		inset 100dvi var( --header-height ) var( --bg-a25 );
	inset: calc( var( --blur-radius ) * -1 );

	@media not ( prefers-reduced-motion )
	{
		animation: fade-out linear both;
		animation-timeline: scroll(root);
	}

	&:not( [data-name="chisato"], [data-name="takina"] )
	{
		background-size: 100%;
		filter: blur( var( --blur-radius ) );
	}

	&:where( [data-name="chisato"], [data-name="takina"] )::before
	{
		background-image: linear-gradient( transparent, var( --bg ) );
		content: "";
		inset: 0;
		position: absolute;
	}
}

page-markdown
{
	code
	{
		background-color: var( --fg-a10 );
		font-family: var( --font-family-monospace );
		padding-inline: var( --content-spacing-x025 );
	}

	h1
	{
		display: none;
	}

	pre
	{
		background-color: var( --fg-a10 );
		font-family: var( --font-family-monospace );
		margin-inline: calc( var( --content-spacing ) / -2 );
		padding: var( --content-spacing-x025 ) var( --content-spacing-x05 );
		position: relative;

		&::before
		{
			color: var( --fg-a50 );
			content: attr( data-lang );
			inset-block-start: -0.5lh;
			inset-inline-end: 0;
			position: absolute;
			text-transform: uppercase;
		}
	}
}

page-nav
{
	page-content:has( > page-markdown[file-name] ) + &
	{
		background: linear-gradient( 90deg, var( --bg ), transparent );
		inset-block-start: calc( var( --header-height ) + var( --content-margin-block ) );
		inset-inline-start: 0;
		padding: var( --content-spacing );
		position: fixed;
	}
}

page-title
{
	background-color: var( --bg );
	font-weight: bold;
	padding: var( --spacing-2x ) var( --spacing-4x );

	&:empty
	{
		display: none;
	}
}
