@keyframes fade-out
{
	from
	{
		margin-block-end: 0;
	}

	to
	{
		margin-block-end: 50%;
	}
}

:where(*)
{
	box-sizing: border-box;
}

:root
{
	--bg: Canvas;
	--bg-a50: hsla( from var( --bg ) h s l / 0.5 );
	--fg: CanvasText;

	--font-family-normal: "Adwaita Sans", "Inter", serif;
	--font-family-monospace: "Adwaita Mono", monospace;
	--font-size: 14px;

	--spacing-1x: 0.5rem;
	--spacing-2x: 1rem;
	--spacing-3x: 1.5rem;
	--spacing-4x: 2rem;

	--blur-radius: var( --spacing-4x );
	--content-spacing: var( --spacing-4x );
	--content-width: max( 50dvi, 500px );
}

body
{
	background: var( --bg );
	color: var( --fg );
	display: flex;
	flex-direction: column;
	font: var(--font-size)/1.4 var(--font-family-normal);
	margin: 0;
	min-block-size: 100dvb;
}

footer
{
	align-items: center;
	background-color: var( --bg-a50 );
	display: flex;
	padding: var( --spacing-4x );
}

footer-button
{
	align-items: center;
	color: var( --fg );
	cursor: pointer;
	display: flex;
	gap: var( --spacing-1x );
	padding: var( --spacing-1x ) var( --spacing-2x );
	user-select: none;

	&:where( :hover ) {
		background-color: color-mix( in srgb, currentColor 10%, transparent );
	}

	&:where( :active ) {
		background-color: color-mix( in srgb, currentColor 25%, transparent );
	}
}

footer-button-group
{
	display: flex;
	flex-wrap: wrap;
}

footer-ext-res-info
{
	flex-grow: 1;
	white-space: break-spaces;

	&::before
	{
		content: attr( data-count );
	}

	&::after
	{
		opacity: 0.5;
		content: " external resources fetched";
	}
}

page-header
{
	background-color: var( --bg-a50 );
	font-weight: bold;
	padding: var( --spacing-4x );

	&:has( > :empty )
	{
		display: none;
	}
}

page-image
{
	background-image: var( --bg-url );
	box-shadow:
		inset var( --spacing-4x ) 0 50vw var( --bg ),
		inset 100dvi 0 rgb( from var( --bg ) r g b / 0.25 );
	filter: blur( var( --blur-radius ) );
	inset: calc( var( --blur-radius ) * -1 );
	position: fixed;
	z-index: -1;

	&::before
	{
		background-image: linear-gradient( transparent, var( --bg ) );
		content: "";
		inset: 0;
		position: absolute;
	}

	@media not ( prefers-reduced-motion )
	{
		animation: fade-out linear both;
		animation-timeline: scroll(root);
	}
}

page-main
{
	--shadow-xy: 0 12px;

	background-color: var( --bg-a50 );
	box-shadow:
		var( --shadow-xy ) 32px var( --bg-a50 ),
		inset var( --shadow-xy ) var( --content-width ) var( --bg-a50 );
	display: block;
	inline-size: var( --content-width );
	margin: var( --spacing-4x ) auto;
	margin-trim: block;
	padding: var( --content-spacing );
}

markdown-renderer
{
	display: contents;

	/* what */
	&[file-name]:not([file-name=""]) + page-what
	{
		display: none;
	}

	code
	{
		font-family: var(--font-family-monospace);
	}

	pre
	{
		background-color: var( --bg-a50 );
		font-family: var(--font-family-monospace);
		margin-inline: calc( var( --content-spacing ) / -2 );
		padding: calc( var( --content-spacing ) / 4 ) calc( var( --content-spacing ) / 2 );
		white-space: break-spaces;
	}
}
